---
layout: default
---

<article class="post">
  <div class="post-navigation">
    <a href="/blog/" class="back-button">&larr; Back to Blog</a>
  </div>

  <div class="post-header">
    {% if page.cover_image %}
    <div class="post-cover">
      <img src="/assets/images/{{ page.cover_image }}" alt="{{ page.title }}">
    </div>
    {% endif %}
    
    <h1>{{ page.title }}</h1>
    
    <div class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
      {% if page.categories.size > 0 %}
      <div class="categories">
        {% for category in page.categories %}
          <span class="category">{{ category }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  
  <div class="post-content">
    {{ content | replace: 'src="/', 'src="/assets/images/' }}
  </div>
  
  {% if page.tags.size > 0 %}
  <div class="post-footer">
    <div class="post-tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    
    <div class="post-share">
      <h4>Share this post</h4>
      <div class="share-buttons">
        <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ site.url }}{{ page.url | url_encode }}" target="_blank" class="share-button twitter">Twitter</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url_encode }}" target="_blank" class="share-button facebook">Facebook</a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url_encode }}&title={{ page.title | url_encode }}" target="_blank" class="share-button linkedin">LinkedIn</a>
      </div>
    </div>
  </div>
  {% endif %}
</article>